.list {
		&.year {
			float: left;
			width: 155px;
			list-style-type: none;
			margin: 10px 0;
			font-size: 14px;
			line-height: 1.7em;
			min-height: 320px;

			li {
				padding-left: 6px;
				margin: 0;

				a {				
					&:hover {
						color: $headlineColor;;
					}
				}


				&.title {
					padding: 0;

					h2 {
						color: #4F525A;
						font-size: 22px; 
					}
				}
			}
		}
	}