article {
	margin-bottom: 5em;

	&:last-child {
		margin-bottom: 1em;
	}

	header {
		margin-bottom: 1.5em;

        h2 {
            font-size: 26px;
            line-height: 1em;
        }
        
        .meta {
            color: #24AF3A;
            letter-spacing: .1em;
            font-size: 14px;
            line-height: 1.6em;
            margin: 0 0 8px 0;

            a:hover {
            	text-decoration: underline;
            }
        }
	}

	.content {
        font-size: 16px;
        line-height: 1.8em;

        blockquote {
          margin: 1.5em;
          font-style: italic;
        }

        p {
            margin-bottom: 1em;
            
            a {
                border-bottom: 2px solid $highlightColor;

                &:hover {
                	color: $highlightColor;
                }
            }
        }
        
        .aligncenter { 
            display: block; 
            margin-left: auto; 
            margin-right: auto; 
        }
        
        h3 {
            font-size: inherit;
            margin-bottom: .5em;
            color: #657B83;
        }

        ul {
            list-style: disc;
        }

        ol {
            list-style: decimal;
        }

        ol, ul {
            margin-bottom: 1em;
        }

        li {
            margin: .3em 0 .3em 40px;
        }
	}
}