$desktopWidth: 960px;

@media only screen and (min-width: 1025px) {
	html {
		background: #F1F1F1;
	}

	.centerWrapper {
		width: $desktopWidth;
		margin: 0 auto;
		overflow: hidden;
	}

	#main {
		background: #FFFFFF;
		overflow: hidden;
	}

	#content {
	    float: left;
	    width: 640px - $contentPaddingHorizontal * 2;
	}

	#sidebar {
		max-width: 310px;
		padding: 10px 0 10px 10px;
	    float: left;
	}

	#tweet .centerWrapper {
		width: $desktopWidth - $tweetHorizontalPadding * 2;
	}
}