$tweetHorizontalPadding: 32px;

footer {
	background: #252525;
	color: #657B83;

	p {
		padding: 0 10px;
	}

	#tweet {
		background: #F7F7F7;
		
		.centerWrapper {
			padding: 12px $tweetHorizontalPadding;
			background: inline-image("icons/footer_twitter_32.png") no-repeat 5px 4px transparent;
		}
		
		q {
			font-style: italic;
			font-size: 14px;
			
			&:before, &:after {
				content: "\"";
			}
		}
	}
	
	#info {
		font-size: 12px;
		line-height: 22px;
		
		.centerWrapper {
			padding: 5px 0 20px 0;
		}
	}
}