body > footer {
	#tweet {
		background: #F7F7F7;
		
		.centerWrapper {
			$tweetHorizontalPadding: 32px;
			width: $mainWidth - $tweetHorizontalPadding * 2;
			padding: 12px $tweetHorizontalPadding;
			background: inline-image("icons/footer_twitter_32.png") no-repeat 0 4px transparent;
		}
		
		q {
			color: #777777;
			font-style: italic;
			font-size: 14px;
			
			&:before, &:after {
				content: "\"";
			}
		}
	}
	
	#info {
		color: #AAAAAA;
		background: #454546;
		font-size: 12px;
		line-height: 22px;
		
		.centerWrapper {
			padding: 5px 0 20px 0;
		}
	}
}