#main {
	@include pie-clearfix;
}

#content {
	float: left;
	width: 640px - $contentPaddingHorizontal * 2;
	padding: 2em $contentPaddingHorizontal;
	
	header {
		&.search {
			margin-bottom: 2em;
			color: #AFAFAF;
		}
	}

	article {
		margin-bottom: 5em;
		
		header {
			margin-bottom: 1.5em;
			
			h2 {
				font-size: 28px;
				line-height: 1em;
			}
			
			aside {
				color: #777777;
				letter-spacing: .1em;
				font-size: 11px;
				line-height: 1.6em;
				margin: .2em 0;
			}
		}
		
		.content {
			font-size: 14px;
			line-height: 1.7em;
			
			p {
				margin-bottom: 1em;
				
				a {
					color: $headlineColor;
					text-decoration: underline;
					
					&.external {
						padding-right: 20px;
						background: inline-image("icons/content_external_link.png") no-repeat right 1px;
					}
				}
			}
			
			.aligncenter { 
				display: block; 
				margin-left: auto; 
				margin-right: auto; 
			}
			
			h3 {
				font-size: 1.5em;
				margin-bottom: .5em;
			}

			ul {
				list-style: disc;
			}

			ol {
				list-style: decimal;
			}

			ol, ul {
				margin-bottom: 1em;
			}

			li {
				margin: .3em 0 .3em 40px;
			}
		}
	}
	
	.list {
		&.year {
			float: left;
			width: 155px;
			list-style-type: none;
			margin: 10px 0;
			font-size: 14px;
			line-height: 1.7em;
			min-height: 320px;
			
			li {
				padding-left: 6px;
				
				a {
					color: #000000;
					&:hover {
						color: #990000;
					}
				}
				
				
				&.title {
					padding: 0;
					
					h2 {
						font-size: 22px; 
					}
				}
			}
		}
	}
	
	#pagination {
		@include pie-clearfix;
		font-size: 14px; 
		
		div {
			float: left;
			width: (640px - $contentPaddingHorizontal * 2) / 2;
		}
		
		a {
			color: #225E9B;
			
			&:hover {
				color: $headlineColor;
			}
		}
		
		.next {
			text-align: right;
		}
	}
}

#sidebar {
	float: left;
	width: 320px;
	padding: 2em 0;
	
	h3 {
		@include droid;
		color: #AFAFAF;
		font-size: 13px;
		line-height: 15px;
		padding: 6px 8px 3px 10px;
		margin-bottom: 7px;
	}
	


	
	a {
		color: #225E9B;
		
		&:hover {
			color: $headlineColor;
		}
	}
	
	ul {
		margin: 0 0 10px 10px;
		font-size: 14px;
		line-height: 22px;
		
		> li {
			margin-bottom: 14px;
		}
		
		ul {
			> li {
				padding: 2px;
				margin: 0;
				
				a {
					margin: 0;
					display: inline;
				}
			}
		}
	}
	
		
	.widget_tag_cloud {
		line-height: 1.6em;
		text-align: center;
		
		h3 {
			text-align: left;
		}
		
		a {
			display: inline-block;
			margin: 0 6px;
		}
	}
}