@media only screen and (max-device-width: 480px) {

	.centerWrapper {
		width: 100%;

		> nav {

			position: static;

			li {
				float: none;
			}

			form {
				position: static;
				display: none;
			}

		}

	}

	#content {
		width: 100%;
	}
}