@media only screen and (max-device-width: 480px), (max-width: 800px) {

	.centerWrapper {
		width: auto;

		> header {
			font-size: 30px;
		}

		> nav {

			position: static;

			li {
				float: none;
			}

			form {
				position: static;
				display: none;
			}

		}

	}

	#content {
		width: auto;

		article {
			header {
				h2 {
					font-size: 22px;
				}

				aside {
					font-size: 10px;
				}
			}

			.content {
				font-size: 14px;
			}
		}
	}

	body > footer {
		#info {
			.centerWrapper {
				padding: 5px 10px 20px 10px;
			}
		}
	}
}