#comments {
    font-size: 14px;

    a {
        color: $headlineColor;
    }

    h2, h3 {
        font-size: 18px;
        margin-bottom: 1em;
        color: #657B83;
    }

    ol {
        margin-bottom: 2em;
        
        li {
            padding: 10px;
            border-bottom: 1px solid #E9E9E9;

            &:last-child {
                border: none;
            }
        }
    }

    article {
        margin: 1em 0;
        overflow: hidden;

        div.avatar {
            float: right;
            width: 55px;
            margin: 0 0 0 10px;           
 
            img {
                padding: 5px;
                background: #FFFFFF;
                border-radius: 2px;
                border: 1px solid #AAAAAA;
            }
        }

        .vcard {
            font-size: 11px;

            a {
                border: none;
            }
        }

        .content p:last-child {
            margin: 0;
        }
    }
}

#respond {
    form {
        p {
            overflow: hidden;
            padding: 4px 0;

            label {
                display: block;
                margin-top: 3px;
            }

            input[type="text"] {
                width: 260px;
                margin-right: 10px;
            }

            input[type="submit"] {
                margin: 0;
                background: $headlineColor;
                color: #FFFFFF;
                border: none;
                border-radius: 2px;
                line-height: 2em;
                padding: 5px 12px;
                cursor: pointer;
            }

            textarea {
                width: 80%;
                height: 150px;
            }
        }
    }
}